/* CSS Document */
.adm{
width:80%;
height:500px;
margin:0 auto;
}

.adm-l{
width:20%;
height:400px;
margin:0 auto;

}
.adm-l ul{
height:400px;
border-right:#CCCCCC 2px solid;
}
.adm-l ul li{
width:90%;
height:39px;
line-height:39px;
margin:0 auto;
text-align:center;
background-color:#FFFF99;
margin-bottom:10px;

}
.adm-r{
width:68%;
height:400px;
margin:0 auto;
}
 .star{
	 font-weight: normal;
    font-size: 14px;
    text-align: right;
	color:#FF0000;
}
.hang{
margin-bottom:30px;
}
#long{
width:80%;
height:80px;
font-size:12px;
}
#button{
background:#FF3300;
    width: 88px;
    height: 36px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-right: 14px;
}
.me-su{
padding-left:279px;

}

table{
width:90%;
margin:0 auto;
}
.no{
width:9%;
height:30px;
line-height:30px;
padding-right:20px;
text-align:center;
font-size:12px;
}
.lo{
width:30%;
font-size:12px;
}

  th,td
     {
        
         border :1px solid black;
     }
     