/* CSS Document */

.new-content{
width:100%;
background-color:#FFFFFF;

}
.newbook{
width:68%;
margin:0 auto;
height:880px;
}
.newbook img{
width:100%;
height:auto;
}
.book1{
width:25%;
margin:0 auto;
font-size:14px;
border-right:#FF66CC 2px groove;
}
.book1 img{
width:70%;
height:auto;
}
.book2{
width:73%;
margin:0 auto;

}
.news{
width:68%;
margin:0 auto;
display:block;
height:400px;
}

.news img{
width:100%;
height:auto;
}
.ti{
text-align:center;
}
.lineo{
border-bottom:#FF66CC 2px groove;
}
.img img{
width:17%;
height:auto;
}
.red{
color:#FF0000;
font-weight:bolder;
}
.news ul li{
padding-bottom:10px;
}
.news ul li:hover{
font-size:16px;
color:#FF0000;
}
.news-left{
padding-left:5%;
}
.news-right{
padding-right:2%;
}