/* CSS Document */
.bao{
width:67%;
  height:426px;
  background-color:#dfdfdf;
  padding-top:8px;
  margin:0 auto;
}


.back1{
  width:35%;
  height:386px;
  background-color:#efefef;
  margin-top:10px;
  margin-right:60px;
}
.back{
  width:35%;
  height:386px;
  background-color:#efefef;
  margin-top:10px;
   margin-left:60px;
}
.loginWin-container-l
{
 
	vertical-align:middle;
   	margin:0 auto;
    width:95%;
     height:290px;
	 padding-top:12px;
	
	}

.loginWin-head {
text-align:center;
    font-size:18px;
	margin-top:20px;
    padding: 15px 10px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	
	}
	
.loginWin-inputbox {

	height:40px;
    padding: 15px 0px;
    margin: 0 auto;
	
	}


.login_win_loginBtn {
    display: block;
    position: relative;
    width:90%;
    height: 52px;
    font-size: 14px;
    line-height: 52px;
    margin: 10px auto;
    text-align: center;
    color: #fff;
    border: 1px solid #d70226;
    background: #eb0028;
    border-radius: 4px;
	}

	.login_win_input{
	    font-size: 14px;
    border-radius: 4px;
    height: 40px;
    text-indent: 20px;
    border: none;
	width:235px;
	
}
.qq{
margin-top:20px;
color:#999999;
}
.qq a{
color:#FF0033;
}
